/* You can add global styles to this file, and also import other style files */
body {
  margin: 0 !important;
  background-color: rgb(205, 215, 219);
  font-family: 'Helvetica', 'Arial', sans-serif;
}